@tailwind base;
@tailwind components;
@tailwind utilities;

/* ALL PAGES */
.fullPage {
    display: grid;
    grid-template-columns: 1fr 20fr;
    height: 100vh;
}
@media (max-width: 851px) {
    .fullPage {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }
}
.mainSection {
    overflow: auto;
}
.loader {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40vh;
}
.noPostSection {
    margin-top: 4rem; 
    font-weight: 700; 
    text-align: center; 
}

/* NAVBAR.JSX */
.navbar {
    display: grid; 
    padding: 2rem 5rem;
    grid-template-columns: 1fr;
    justify-content: space-between; 
    align-items: center; 
}
.navbarTitleAndMenu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
}
.navbarTitle h1 {
    font-size: 1.2rem;
    font-weight: 800; 
}
.navbarMenu div {
    font-size: larger;
}
.navbarMenu p {
    position: relative; 
    cursor: pointer; 

}
.navbarSearch {
    width: 100%;
}
.navbarSearch input{
    border: #101010 2px solid;
    text-align: center;
    border-radius: 25px;
    width: 500px;
    height: 35px;
}
.navbarSearch div{
    display: flex; 
    margin-left: 0; 
    justify-content: center; 
    align-items: center; 
}
@media (max-width: 711px) {
    .navbarSearch input{
        border: #101010 2px solid;
        text-align: center;
        border-radius: 25px;
        width: 100%;
        height: 35px;
    }

}
.navbarSearch p{
    cursor: pointer; 
    margin-right: 20px;
}
@media (min-width: 851px) {
    .navbarTitle, .navbarMenu {
      display: none; /* Hide the div when the viewport width is 768 pixels or smaller */
    }
    .navbar {
        display: flex; 
        padding: 2rem 0rem;
        justify-content: center; 
        align-items: center; 
    }

}

/* SIDENAV.JSX */
.sideNav {
    border: 2px black solid;
    background-color: rgb(0, 0, 0);
    width: 160px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between; /* This will push items to the top and bottom */
}
.sideNavBottomSection {
    margin-bottom: 15px;
}
.sideNavTitle {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #ffffff;
    margin-top:  25px;
}
.sideNavText {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: rgb(176, 176, 176);
    margin: 5px 0px;
    padding: 10px 0px;
}
.sideNavText:hover, .sideNavTextSelected:hover {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #101010;
    margin: 5px 0px;
    padding: 10px 0px;
}
.sideNavTextSelected {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 5px 0px;
    padding: 10px 0px;
}
@media (max-width: 851px) {
    .sideNav {
      display: none; /* Hide the div when the viewport width is 768 pixels or smaller */
    }
}

/* HOME.JSX */
.homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    
}
@media (max-width: 1786px) {
    .homeGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 1490px) {
    .homeGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 690px) {
    .homeGrid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }
}
.home {
    padding-left: 32px;
    padding-right: 32px;
    min-height: 80vh;
    
}
@media (min-width: 1190px) {
    .home {
        padding-left: 200px;
        padding-right: 200px;
    }
}


/* MYBLOGS.JSX */
.myBlogGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    
}
@media (max-width: 1786px) {
    .myBlogGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 1490px) {
    .myBlogGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 690px) {
    .myBlogGrid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }
}
.myBlog {
    padding-left: 32px;
    padding-right: 32px;
    min-height: 80vh;
    
}
@media (min-width: 1190px) {
    .myBlog {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* HOMEPOSTS.JSX */
.homePosts {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}
@media (max-width: 375px) {
    .homePosts {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}
.homePostsImg {
    border-radius: 10px;
    margin-bottom: 0px;
    height: 175px;
    width: 300px;
}
.homePostsTitle {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: larger;
    height: 70px;
    align-items: center;
    text-align: center;
}
.homePostsUsernameAndDate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    font-weight: 500;
}

/* COMMENT.JSX */
.comment {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    margin-bottom: 1rem; 
    border-radius: 0.5rem; 
    background-color: #E5E7EB; 
}
.commentInfo {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.commentContent {
    padding-left: 1rem;
    padding-right: 1rem; 
    margin-top: 0.5rem; 
}
.commentAuthor {
    font-weight: 700; 
    color: #4B5563; 
}
.commentDateAndDelete {
    display: flex; 
    margin-left: 1rem; 
    justify-content: center; 
    align-items: center;  
}
.commentDate {
    margin-left: 1rem; 
}
.commentDelete {
    display: flex; 
    margin-left: 0.5rem; 
    justify-content: center; 
    align-items: center; 
    
}
.commentDelete p {
    cursor: pointer; 
}

/* FOOTER.JSX */
.footerAllRights {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-bottom: 1.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    text-align: center; 
    color: #ffffff; 
    background-color: #000000;    
}
.footerLinks {
    display: flex; 
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem; 
    padding-left: 10rem;
    padding-right: 10rem; 
    margin-top: 2rem; 
    margin-top: 1.5rem; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    background-color: #000000;   
}
.footerLinkSections {
    display: flex; 
    flex-direction: column; 
    color: #ffffff; 
}
@media (max-width: 768px) { 
    .footerLinks {
        display: grid;
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem; 
        padding-left: 2rem;
        padding-right: 2rem; 
        margin-top: 2rem; 
        margin-top: 1.5rem; 
        align-items: flex-start; 
        width: 100%; 
        font-size: 0.875rem;
        line-height: 1.25rem; 
        background-color: #000000;   
    }
    .footerLinkSections {
        display: flex; 
        flex-direction: column; 
        color: #ffffff; 
        margin-bottom: 20px;
    }
}

/* LOADER.JSX */
.loaderPage {
    display: inline;
    width: 2.5rem; /* You can adjust the width as needed */
    height: 2.5rem; /* You can adjust the height as needed */
    margin-right: 0.5rem; /* You can adjust the margin as needed */
    color: #ffffff; /* Text color */
    animation: spin 2s linear infinite;
    fill: #2d2d2e; /* You can adjust the fill color as needed */
} 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* MENU.JSX */
.menu {
    display: flex; 
    position: absolute; 
    right: 1.5rem; 
    top: 3rem; 
    z-index: 10; 
    padding: 1rem; 
    margin-top: 1rem; 
    flex-direction: column; 
    align-items: flex-start; 
    border-radius: 0.375rem; 
    background-color: #000000; 
    width: 200px;
}
@media (min-width: 768px) {  
    .menu {
        right: 8rem;
    }
}
.menuText {
    font-size: 1rem;
    line-height: 2rem; 
    color: #ffffff; 
    cursor: pointer; 
}
.menuText:hover {
    color: #6B7280; 
}

/* PROFILEPOSTS.JSX */
.profilePost {
    display: flex; 
    margin-top: 2rem; 
    margin-left: 1rem; 
    width: 100%; 
}
.profilePostImg {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 35%;
    height: 200px;
    margin-right: 20px;
}
.profilePostImg img {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
}
.profilePostDetails {
    display: flex; 
    flex-direction: column; 
    width: 65%;
}
.profilePostTitle {
    margin-bottom: 0.25rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
}
.profilePostUsernameAndDate {
    display: flex; 
    margin-bottom: 0.5rem; 
    justify-content: space-between; 
    align-items: center; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 600; 
    color: #6B7280; 
}
.profilePostDate {
    display: flex; 
    margin-left: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
}
.profilePostDate p {
    margin-left: 1rem; 
}
.profilePostDesc {
    font-size: 1.12rem;
    line-height: 1.5rem;
}

/* CREATEPOST.JSX */
.spacing {
    margin: 15px 0px; 
}
.createPost {
    padding-left: 10rem;
    padding-right: 10rem; 
    margin-top: 2rem; 
}
.createPost h1 {
    font-size: 1.75rem;
    line-height: 1.75rem; 
    font-weight: 700;  
}
.createPostForm {
    display: flex; 
    margin-top: 1rem; 
    flex-direction: column; 
    width: 100%; 
}
.createPostTitle {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    outline-style: none;  
    border: #000000 2px solid;
}
.createPostCats {
    display: flex; 
    flex-direction: column; 
}
.createPostEnterCats {
    display: flex;
    align-items: center; 
}
.createPostEnterCats input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    margin-right: 1rem; 
    outline-style: none; 
    border: #000000 2px solid;
}
.createPostEnterCats div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    font-weight: 600; 
    color: #ffffff; 
    cursor: pointer; 
    background-color: #000000;
}
.createPostAddedCats {
    display: flex;
    padding-right: 1rem; 
    margin-top: 0.75rem; 
}
.createPostAddedCat {
    display: flex; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    margin-right: 1rem; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0.375rem; 
    background-color: #E5E7EB; 
}
.createPostAddedCat p {
    margin-left: 0.25rem;
    margin-right: 0.25rem;  
}
.createPostDeleteCat {
    padding: 0.25rem; 
    border-radius: 9999px; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #000000;
    cursor: pointer; 
     
}
.createPostVisited {
    margin-left: 1rem; 
    border: #000000 2px solid;
    text-align: center;
}
.createPostButton{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    width: 500px;
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 600; 
    color: #ffffff; 
    background-color: #000000; 
}
.createPostTextarea{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    outline-style: none; 
    height: 16rem; 
    border: #000000 2px solid;
}
