@tailwind base;
@tailwind components;
@tailwind utilities;
.blkk {
    display: grid;
    grid-template-columns: 1fr 20fr;
    height: 100vh;
}
@media (max-width: 851px) {
    .blkk {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }
}
.bluee {
    overflow: auto;
}







/* NAVBAR.JSX */
.navbar {
    display: grid; 
    padding: 2rem 5rem;
    grid-template-columns: 1fr;
    justify-content: space-between; 
    align-items: center; 
}
.navbarTitleAndMenu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
}
.navbarTitle h1 {
    font-size: 1.2rem;
    font-weight: 800; 
}
.navbarMenu div {
    font-size: larger;
}
.navbarMenu p {
    position: relative; 
    cursor: pointer; 

}
.navbarSearch {
    width: 100%;
}
.navbarSearch input{
    border: #101010 2px solid;
    text-align: center;
    border-radius: 25px;
    width: 500px;
    height: 35px;
}
.navbarSearch div{
    display: flex; 
    margin-left: 0; 
    justify-content: center; 
    align-items: center; 
}
@media (max-width: 711px) {
    .navbarSearch input{
        border: #101010 2px solid;
        text-align: center;
        border-radius: 25px;
        width: 100%;
        height: 35px;
    }

}
.navbarSearch p{
    cursor: pointer; 
    margin-right: 20px;
}
@media (min-width: 851px) {
    .navbarTitle, .navbarMenu {
      display: none; /* Hide the div when the viewport width is 768 pixels or smaller */
    }
    .navbar {
        display: flex; 
        padding: 2rem 0rem;
        justify-content: center; 
        align-items: center; 
    }

}

/* SIDENAV.JSX */
.sideNav {
    border: 2px black solid;
    background-color: rgb(0, 0, 0);
    width: 160px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between; /* This will push items to the top and bottom */
}
.sideNavBottomSection {
    margin-bottom: 15px;
}
.sideNavTitle {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #ffffff;
    margin-top:  25px;
}
.sideNavText {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: rgb(176, 176, 176);
    margin: 5px 0px;
    padding: 10px 0px;
}
.sideNavText:hover, .sideNavTextSelected:hover {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #101010;
    margin: 5px 0px;
    padding: 10px 0px;
}
.sideNavTextSelected {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 5px 0px;
    padding: 10px 0px;
}
@media (max-width: 851px) {
    .sideNav {
      display: none; /* Hide the div when the viewport width is 768 pixels or smaller */
    }
}

/* HOME.JSX */
.homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    
}
@media (max-width: 1786px) {
    .homeGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 1490px) {
    .homeGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 690px) {
    .homeGrid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }
}
.home {
    padding-left: 32px;
    padding-right: 32px;
    min-height: 80vh;
    
}
@media (min-width: 1190px) {
    .home {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* MYBLOGS.JSX */
.myBlogGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    
}
@media (max-width: 1786px) {
    .myBlogGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 1490px) {
    .myBlogGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
    }
}
@media (max-width: 690px) {
    .myBlogGrid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }
}
.myBlog {
    padding-left: 32px;
    padding-right: 32px;
    min-height: 80vh;
    
}
@media (min-width: 1190px) {
    .myBlog {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* HOMEPOSTS.JSX */
.homePosts {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}
@media (max-width: 375px) {
    .homePosts {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}
.homePostsImg {
    border-radius: 10px;
    margin-bottom: 2px;
}
.homePostsTitle {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: larger;
}
.homePostsUsernameAndDate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    font-weight: 500;
}
